body{
    background-color: black;
}
/* navBar */
nav{
    background-color: transparent;
    transition: all 1s ease;
}
.bg-inverse{
    background-color:#17bdd1;
    
}
.navbar-brand{
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    font-weight:bold;
}
/* Carrousel */
header h2{
    color:white;
    font-weight: 200;
}
header p {
    color:white;
    text-align: left;
}
header i{
    color: white;
    background-color:  #17bdd1 ;
    max-width: 100%;
    padding: 0 144px 0 144px
}
hr{
    background-color:  #17bdd1 ;
}
/* Card Deck */
h3{
    color:white;
    font-weight: 200;
    text-align: center;
}
.card-title{
    color: white;
}
/* .card{
    height: 95;
} */
.card img{
    max-width: 100%;
    height: 168px;
}
.card-body{
    background-color:  #17bdd1 ;
}
/* FOOTER */
footer{
    background-color: #17bdd1;
}
footer h2{
    font-family: 'Oswald', sans-serif;

}

